.about{
    font-family: Arial, sans-serif;
    margin:50px 20px;
    display: flex;
    align-items: center;
    
    gap: 250px;
}
.left{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.leftb{
display: flex;
gap: 20px;
align-items: center;
border-left: 5px solid #FD7354;

}
.dot{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #FD7354;
    margin: 0px;
}
.right{
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    justify-content: space-between;
    gap: 100px;
}
.right p{
    font-size: 18px;
    line-height: 1.6;
    
}
@media (max-width: 1024px) {
  .about {
    flex-direction: column;
    gap: 50px;
    text-align: center;
  }

  .left {
    align-items: center;
  }

  .leftb {
    justify-content: center;
    border-left: none;
    border-top: 5px solid #FD7354;
    padding-top: 10px;
  }

  .dot {
    display: none; /* Les points de séparation ne sont plus utiles sur mobile */
  }

  .right {
    align-items: center;
    gap: 40px;
  }

  .right p {
    font-size: 16px;
    padding: 0 10px;
    text-align: justify;
  }
}

@media (max-width: 600px) {
  .leftb h2 {
    font-size: 16px;
  }

  .right h1 {
    font-size: 24px;
  }

  .right p {
    font-size: 14px;
  }
}